// app global css in SCSS form

// a {
//   &:link { text-decoration:none; } // 未訪問連結
//   &:visited { text-decoration:none; } // 已訪問連結
//   &:hover { text-decoration:underline; } // 滑鼠移動到連結上
//   &:active { text-decoration:underline; } // 滑鼠點選時
// }

a {
  text-decoration:none;
}

.plyr .plyr__controls {
  background: none !important;
}
